body {
  background: #fafafa;
}

.ErrorMessage {
  display: none;
}

.Title {
  font-size: 0.8em;
}

.Title > h1 {
  font-family: Playfair Display, Arial, serif;
  font-weight: bold;
}

.Title > h4 {
  font-family: Muli, Verdana, serif;
  font-style: italic;
}

.ButtonTools .DownloadJSON {
  pointer-events: stroke !important;
  cursor: not-allowed;
  color: white !important;
}

.MessagesZone .CustomizedProgress {
  height: 45px;
  display: none;
  text-align: center;
}

.MessagesZone .CustomizedProgress .progress-bar {
  height: 45px;
  font-size: 1.5em;
  font-weight: bold;
  width: 0;
  max-width: 100%;
  text-align: center;
}

.DisplayZone div[contenteditable] {
  resize: none;
  background-color: #242a30;
  font-weight: bold;
  transition: background-color 0.3s ease;
  height: 500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.DisplayZone div[contenteditable]:focus {
  background-color: #181c20;
}

span.JSON-object {
  color: white;
}

span.JSON-key {
  color: #26c6da !important;
}

span.JSON-value {
  color: #ffca28 !important;
}

@media screen and (min-width: 768px) {
  .Title {
    font-size: 1em;
  }
}
